<div ng-if="!vm.isEmpty">
    <note-item note="vm.firstNote" filter-by="vm.searchText">
        <a href=""
           ng-if="vm.hiddenNotes.length"
           ng-click="vm.toggleHiddenNotes()">
            {{vm.hidden ? '+' + vm.hiddenNotes.length + ' more' : 'hide'}}
        </a>
    </note-item>
    <div ng-class="{'hidden': vm.hidden}" class="hidden-note-list">
        <note-item  ng-repeat="note in vm.hiddenNotes"
                    note="note"
                    filter-by="vm.searchText">
        </note-item>
    </div>
</div>
